.navHeader {
    height: 100px;
    background-color: #A100F2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 10px #A100F2;
}
.titleHeader {
    position: absolute;
    padding: 0;
    margin:0;
    font-size: 36px;
    top: 30px;
    left:40px
}
