$mainColor: #A100F2;
$colorText: white;
.header{
  position: relative;
  height: 13vh;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 10px $mainColor;

  &_title{
    position: absolute;
    padding: 0;
    margin:0;
    font-size: 36px;
    top: 50%;
    transform: translateY(-50%);
    left:40px;
    color:$colorText;
  }

  a{
    display: block;
    color: $colorText;
    margin-top: 10px;
  }

  &_avatar_container{
    display: flex;
    align-items: center;
    margin-right: 30px;

    &_user_name{
      margin-right: 10px;
      font-size: 20px;
      color:$colorText;
    }
    &_avatar{
      width: 60px;
      border-radius: 100%;
    }
  }

  &_dropdown {

    border-radius: 10px;
    padding: 10px;
    width: 220px;
    min-height: 200px;

    & h3{
      margin: 5px 0 15px 0;
      text-align: center;
      font-size: 30px;
    }

    & hr {
      background-color: $mainColor;
    }

    &_links{
      margin-top: 15px;

      &_link{
        margin-top: 5px;
        padding: 5px 0px 5px 10px;
        &:hover {
          background-color: #FF00CC;
          border-radius: 10px;
        }

        & a {
          color: black;
          margin: 0px;
        }
      }

    }

  }

}

