.flexAuth {
    height: 100vh;
    display: flex;
}

.backgroundAuth {
    /*border: solid black 1px;*/
    background: linear-gradient(252.59deg, #FF00CC 17.45%, rgba(255, 255, 255, 0) 100%), #333399;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleAuth {
    position: absolute;
    padding: 0;
    margin:0;
    top: 30px;
    left:40px;
    color: white;
}
.containerAuth {
    width: 460px;
    height: 350px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.h2Auth {
    font-size: 40px ;
    margin: 10px auto;
    text-align: center;
    color: white;
}
.containerInputsAuth {
    margin-bottom: 20px;
    width: 350px;
}
.containerInputAuth{
    display: flex;
    flex-direction: row;
    margin: 0;
    /*border-bottom: 1px solid white;*/
}
.inputAuth {
    /*border:none ;*/
    /*margin: 0 !important;*/
    padding: 0px 10px !important;
    font-size: 18px !important;
    color: white;
}
.inputAuth:focus{
    border-bottom: #A100F2 solid 1px !important;
}
.iconAuth {
    color:white;
}
.containerLinkAuth{
    display: flex;
    justify-content: space-between;
}
a{
    color: white !important;
    font-size: 16px;
}
.buttonAuth {
    font-size: 20px ;
    /*width: 200px;*/
    padding: 10px 40px ;
    margin-bottom: 20px ;
}
