@import "../../thems/index.scss";

.test{
  &_timer{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
  }
  &_pgt{
    text-align: center;
    margin-top: 20px;
  }

  &_question{
    font-size: 18px;
    margin-top: 30px;
  }

  &_answers{
    padding: 30px 20px;
  }

}